<a href="/pages/about">About</a>
<a href="/pages/contact">Contact</a>
<h1>Welcome to Somethinglikeyelp!</h1>
<h2>This is one of my sample projects. <a href="https://www.facebook.com/nvmbrzchld">Elijah</a></h2>
